html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;

    font-family: monospace, monospace;
    
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


h3 {
    font-size: 18px;
}

button {
    border: 0;
    padding: 8px;
    margin: 0;
    background: #00cc0066;
    font: 26px monospace, monospace;
    color: #f0f0f0;
    border-radius: 0;

}

button:hover {
    background: #00cc0077;
}

.none {
    margin: 0;
    padding: 0;
    background-color: #00000000 !important;
    font-family: monospace, monospace;
    color: inherit;
}

.saveSettings {
    font-size: 20px;
    padding: 4px 6px 4px 6px;
    margin: 0 0 0 4px;
}

input[type=text] {
    color: inherit;
    border: 0;
    font-size: 20px;
    padding: 4px;
    border-radius: 0;
}

input[type=text]:hover {
    background: #88888855;
}

input[type=text]:focus {
    outline: 1px solid rgba(200, 200, 200, 90%);
    background: #88888855;
}
#settings {
    font-size: 24px;
}
#settings h2 {
    font-size: 29px;
}
#settings h3 {
    font-size: 24px;
    font-weight: normal;
}
#settings p {
    font-size: 18px;
}
.settingsDiv {
    margin: 8px 0px 8px 0px;
    display: flex;
    flex-direction: row;
}
.settingsDiv > div {
    width: 25%;
}
@media (max-width: 800px) {
    .settingsDiv {
        flex-direction: column;
    }
    
    .settingsDiv > div {
        width: 100%;
    }
}