.default-dark-theme {
    --background-color: #121212;
    --text-color: #E0E0E0;
    --accent-color: #136147;
    --accent-hover-color: #247157;
    --input-color: #303030;
    --input-hover-color: #404040;
    --unselected-color: #0F402F;
}